// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label {
    float: left;
    margin-right: 15px;
    width: 120px;
}

input {
    display: block;
    margin-right: 15px;
}